body {
  background-color: #181818;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input[type="range"] {
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #ccc;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff;
}

input[type="range"]::-webkit-slider-runnable-track:hover {
  background: #ccc;
}